<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    FAWAPP
  </title>
  <!-- <link rel='stylesheet' href='/css/bootstrap.css' />
  <link rel='stylesheet' href='/css/main.css' />
  <link rel='stylesheet' href='/css/media.css' /> -->
  <link rel='stylesheet' href='/main.bundle.css' />
</head>

<body>
  <header id="top">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <div class="logo-wrapper">

            <img src="/img/logo.jpg" alt="logo">
          </div>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#hiw">How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-us">Contact</a>
            </li>
          </ul>
          <div class="conacts">
            <div class="phone">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span class="phone-number">+38-050-123-45-67</span>
            </div>
            <div class="email">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span class="email-address">example@mail.com</span>
            </div>
          </div>
          <div class="order-now">
            <a href="#" class="btn btn-info">Order now</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="header-section">
    <div class="container text-center d-flex">
      <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, perferendis?</h1>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim sequi voluptatibus praesentium iure porro modi, id
        soluta ab sunt!</h3>
    </div>
  </section>
  <section id="services" class="services-section">
    <div class="services-wrapper container d-flex">
      <div class="service-item">
        <div class="service-description">
          <h4>Service1</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="service-description">
          <h4>Service2</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="service-description">
          <h4>Service3</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="service-description text-center">
          <h4>Service4</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="hiw" class="how-it-works">
    <div class="how-it-works-wrapper container d-flex">
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="about">
    <div class="container">
      <div class="post post-img-left">
        <div class="post-image">
          <img src="/img/img-post.jpg" alt="">
        </div>
        <p class="post-content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta commodi nesciunt voluptas suscipit rem magnam ratione
          amet dolor alias veniam nobis harum quis, eius exercitationem! Quia, tenetur. Nulla reprehenderit ullam alias itaque
          dolores voluptate, eligendi voluptatem doloribus dolore iusto illum quasi perferendis amet beatae. Quia iure numquam
          perferendis adipisci dolore ea consequuntur iusto temporibus, earum optio dolorum ipsam atque id accusamus aliquam
          quaerat. Nostrum, blanditiis temporibus? Ex ipsa aliquid, ab consequatur quod molestias pariatur ratione consectetur
          doloremque, itaque laboriosam nesciunt. Fuga, autem. Nesciunt ipsam recusandae, dignissimos veniam non, commodi
          vero debitis dolor asperiores suscipit quae quaerat quo obcaecati sint ex!
        </p>
      </div>

      <div class="post post-img-right">
        <div class="post-image">
          <img src="/img/img-post.jpg" alt="">
        </div>
        <p class="post-content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta commodi nesciunt voluptas suscipit rem magnam ratione
          amet dolor alias veniam nobis harum quis, eius exercitationem! Quia, tenetur. Nulla reprehenderit ullam alias itaque
          dolores voluptate, eligendi voluptatem doloribus dolore iusto illum quasi perferendis amet beatae. Quia iure numquam
          perferendis adipisci dolore ea consequuntur iusto temporibus, earum optio dolorum ipsam atque id accusamus aliquam
          quaerat. Nostrum, blanditiis temporibus? Ex ipsa aliquid, ab consequatur quod molestias pariatur ratione consectetur
          doloremque, itaque laboriosam nesciunt. Fuga, autem. Nesciunt ipsam recusandae, dignissimos veniam non, commodi
          vero debitis dolor asperiores suscipit quae quaerat quo obcaecati sint ex!
        </p>
      </div>
    </div>
  </section>
  <section id="contact-us" class="contact-us">
    <div class="container">
      <h3 class="text-center">Contact Us</h3>
      <div class="order-form-wrapper">
            <% include ./shared/orderForm %>
          </div>
    </div>
  </section>
  <footer>
    <div class="container text-center">
      © 2018 All rights Reserved. fawapp.com
    </div>
  </footer>
  <div id="order-form-modal" class="modal fade">
    <div class="edit-group">
      <div class="modal-dialog">
        <div class="modal-content clearfix">
          <div class="modal-header">
            <h4 class="modal-title text-center">Lorem</h4>
            <button type="button" class="close close-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class=" modal-body">
            <% include ./shared/orderForm %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal -->
  <a href="#top" class="cd-top">Top</a>
  <!-- <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/main.js"></script> -->
  <script src="/main.bundle.js"></script>
</body>

</html>