<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    FAWAPP
  </title>
  <link rel='stylesheet' href='/css/bootstrap.css' />
  <link rel='stylesheet' href='/css/main.css' />
  <link rel='stylesheet' href='/css/media.css' />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <div class="logo-wrapper">

            <img src="/img/logo.jpg" alt="logo">
          </div>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">Link1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link4</a>
            </li>
          </ul>
          <div class="conacts">
            <div class="phone">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span class="phone-number">+38-050-123-45-67</span>
            </div>
            <div class="email">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span class="email-address">example@mail.com</span>
            </div>
          </div>
          <div class="order-now">
            <a href="#" class="btn btn-info">Order now</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="header-section">
    <div class="container text-center d-flex">
      <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, perferendis?</h1>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim sequi voluptatibus praesentium iure porro modi, id
        soluta ab sunt!</h3>
    </div>
  </section>
  <section class="services-section">
    <div class="services-wrapper container d-flex">
      <div class="service-item">
        <div class="service-description">
          <h4>Service1</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="service-description">
          <h4>Service2</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="service-description">
          <h4>Service3</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service-item">
        <div class="service-description text-center">
          <h4>Service4</h4>
        </div>
        <div class="service-body">
          <div class="inner-content">
            <ul class="service-list">
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
              <li>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-it-works">
    <div class="how-it-works-wrapper container d-flex">
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
      <div class="hiw-item text-center">
        <div class="hiw-image-wrapper">
          <img src="/img/hiw-image.jpg" alt="">
        </div>
        <div class="hiw-content">
          <h6>Lorem, ipsum.</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, ea?</p>
        </div>
      </div>
    </div>
  </section>
  <div id="order-form" class="modal fade order-form">
    <div class="edit-group">
      <div class="modal-dialog">
        <div class="modal-content clearfix">
          <div class="modal-header">
            <h4 class="modal-title text-center">Lorem</h4>
            <button type="button" class="close modal-close">&times;</button>
          </div>
          <div class=" modal-body">
            <form class="form-horizontal favorite-writer-group-info" enctype='multipart/form-data' role="form" action="/send-email" method="POST">
              <div class="form-group row">
                <label class="col-sm-3 control-label">Your Name:&nbsp;
                  <i class="fa fa-info-circle" data-toggle="tooltip" title="Please insert your name"></i>
                </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" required name="customerName" />
                  <span class="help-block error"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 control-label">Your Email:&nbsp;
                  <i class="fa fa-info-circle" data-toggle="tooltip" title="Please insert your e-mail"></i>
                </label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" required name="customerEmail" />
                  <span class="help-block error"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 control-label">Your Phone:&nbsp;
                  <i class="fa fa-info-circle" data-toggle="tooltip" title="Please insert your phone"></i>
                </label>
                <div class="col-sm-9">
                  <input type="tel" class="form-control" pattern="^(0|[1-9][0-9]*)$" name="customerPhone" />
                  <span class="help-block error"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 control-label">Your Comment:&nbsp;
                  <i class="fa fa-info-circle" data-toggle="tooltip" title="Please insert your comment"></i>
                </label>
                <div class="col-sm-9">
                  <textarea class="form-control" name="customerComment"></textarea>
                  <span class="help-block error"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 control-label">Your File:&nbsp;
                  <i class="fa fa-info-circle" data-toggle="tooltip" title="Please insert your file"></i>
                </label>
                <div class="col-sm-9">
                  <input class="control-label" type='file' name="customerFile" />
                  <label class="btn btn-sm pull-right" for="user-avatar">Choose a File</label>
                </div>
              </div>

              <div class="text-right buttons">
                <button type="button" class="btn btn-default modal-close">Close</button>
                <button type="submit" class="btn btn-success submit">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal -->
  <main></main>
  <footer></footer>
  <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>