body {}

a {
  color: #00B7FF;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 1rem;
}

.order-now {
  margin-left: 10px;
}

.logo-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.logo-wrapper>img {
  width: 4rem;
}

section.header-section {
  height: 500px;
  background-image: url(/img/img-header.jpg);
  background-position: center;
}

section.header-section .container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

section.services-section {
  padding: 80px 20px;
  background-color: #A0A0A0;
}

.services-wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
}

section.services-section .service-item {
  display: inline-block;
  border: 4px solid #424242;
  border-radius: 5px;
  margin-bottom: 20px;
}

section.services-section .service-item .service-description {
  overflow: auto;
  text-align: center;
  background-color: darkgray;
}

section.services-section .service-item .service-body {
  background-image: url(/img/img-service.jpg);
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 300px;
  width: 250px;
}

.inner-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  /*make the content lies under wrapper*/
  background: rgba(146, 146, 146, 0.6);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*make the smooth transition in 0.3s*/
  color: #fff;
}

.inner-content ul.service-list {
  list-style-type: none;
  padding-top: 20px;
}

.inner-content ul.service-list li {
  margin-bottom: 20px;
}

.service-body:hover .inner-content {
  top: 0;
  /*bring the content back*/
}

section.how-it-works {
  padding: 80px 20px;
  background-color: #D2D2D2;
}

.how-it-works-wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
}

.hiw-item {
  display: inline-block;
  max-width: 200px;
}

.hiw-image-wrapper img {
  border: 2px solid #424242;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 150px;
}