body {}

a {
  color: #00B7FF;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 1rem;
}

.order-now {
  margin-left: 10px;
}

.logo-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.logo-wrapper>img {
  width: 4rem;
}

section.header-section {
  height: 500px;
  background-image: url(/img/img-header.jpg);
  background-position: center;
}

section.header-section .container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

section.services-section {
  padding: 80px 20px;
  background-color: #A0A0A0;
}

.services-wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
}

section.services-section .service-item {
  display: inline-block;
  border: 4px solid #424242;
  border-radius: 5px;
  margin-bottom: 20px;
}

section.services-section .service-item .service-description {
  overflow: auto;
  text-align: center;
  background-color: darkgray;
}

section.services-section .service-item .service-body {
  background-image: url(/img/img-service.jpg);
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 300px;
  width: 250px;
}

.inner-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  /*make the content lies under wrapper*/
  background: rgba(146, 146, 146, 0.6);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*make the smooth transition in 0.3s*/
  color: #fff;
}

.inner-content ul.service-list {
  list-style-type: none;
  padding-top: 20px;
}

.inner-content ul.service-list li {
  margin-bottom: 20px;
}

.service-body:hover .inner-content {
  top: 0;
  /*bring the content back*/
}

section.how-it-works {
  padding: 80px 20px;
  background-color: #D2D2D2;
}

.how-it-works-wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
}

.hiw-item {
  display: inline-block;
  max-width: 200px;
}

.hiw-image-wrapper img {
  border: 2px solid #424242;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 150px;
}

section.about {
  padding: 80px 0;
  background-color: #A0A0A0;
}

.post {
  width: 100%;
  flex-wrap: wrap;
}

.post+.post {
  margin-top: 40px;
}

.post-image {
  width: 290px;
}

.post-img-right .post-image {
  float: right;
  margin: 0 0 15px 15px;
}

.post-img-left .post-image {
  float: left;
  margin: 0 15px 15px 0;
}

.post-image img {
  width: 290px;
}

.post-content {
  text-align: justify;
}

.contact-us {
  padding: 30px 0 40px 0;
  background-color: #D2D2D2;
}

.order-form-wrapper {
  background-color: #616161;
  border-radius: 5px;
  color: #e4e4e4;
  padding: 20px;
}

footer {
  padding: 10px;
  background-color: #616161;
  color: #e4e4e4;
}

input[name='customerFile'] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[name='customerFile']+label {
  color: white;
  background-color: #0077a1;
  display: inline-block;
  cursor: pointer;
}

input[name='customerFile']:focus+label, input[name='customerFile']+label:hover {
  background-color: #0094c9;
}



.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 2;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
