/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    html{
        font-size: 14px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    html{
        font-size: 13px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}