// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  padding: 10px;
  background-color: #616161;
  color: #e4e4e4;
}